* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E2A169;
   
}
section{
    padding: 0 35px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F6C43;
    color: white;
    padding: 20px;
    height: 250px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.logo img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.titulo {
    text-align: center;
}

.title h1 {
    font-size: 2rem;
}

.titulo h3 {
    color: #f2a745; 
}

nav {
    display: flex;
    list-style: none;
    gap: 25px;
    font-weight: bold;
    font-size: 1.35rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {   
    color: white; 
    text-decoration: none; 
}

nav a:hover {
    text-decoration: underline; 
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}
.img {
    margin: 40px;
    display: flex;
}

.imgG{
    height: 880px;
    width: 600px;
}

.imgP{
    display: flex;
    flex-direction: column; 
    height: 300px;
    width: 300px;
}

.imgp img {
    height: 300px;
    width: 300px;
}

.imgG img {
    width: 100%; 
    height: auto; 
}
.div1{
    display: flex;
    width: 100%; 
}
.div1 p{
    width: 70px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.Mat{
    width: 33.33%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
}
.Cre{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
}
.Pre{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 40px;
}
.Tabela{
    width: 50%;
    margin-left: 200px;
    
}
.linhaVerde{
    width: 100%;
    display: flex;
    background-color: #1F6C43;
}
.linhaTransparente{
    width: 100%;
    display: flex;
}
.vazia{
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: rgb(47, 47, 184);
}
.C, .Hr, .Din{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Quadrado{
    margin-bottom: 40px;
    background-color: #1F6C43;
    height: 250px;
    width: 250px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color: #1F6C43;
    color: white;
    height: 320px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 20px; 
}

.footer a {
    text-decoration: none; 
    color: white;
}

.footer a:hover {
    text-decoration: underline; 
}

.footer div {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.footer img {
    width: 30px;
    height: 30px;
}
