* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E2A169;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F6C43;
    color: white;
    padding: 20px;
    height: 250px;
}

.logo img {
    width: 150px;
    height: 150px;
}

.titulo {
    text-align: center;
}

.title h1 {
    font-size: 2rem;
}

.titulo span {
    color: #f2a745; /* Cor do texto "escola infantil" */
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.link{
    text-decoration: none;
    color: white;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 25px;
    height: 25px;
}
.img {
    margin: 40px;
    display: flex;
}

.imgG{
    height: 880px;
    width: 600px;
}

.imgP{
    display: flex;
    flex-direction: column; /* Empilha as imagens pequenas uma em cima da outra */
    height: 300px;
    width: 300px;
}

.imgp img {
    height: 300px;
    width: 300px;
}

.imgG img {
    width: 100%; 
    height: auto; 
}
.acess{
    margin: 40px;
    display: flex;
    align-items: baseline;
}
.acess h2{
    margin-right: 10px;
    color: #ffffff;
}
.aceço{
    margin: 40px;
    display: flex;
    align-items: inline;
}
.aceço p{
    display: flex;
}
.aceço .assistente{
    display: flex;
    align-items: baseline;
    height: 300px;
    width: 300px;
}
.manchete{
    color: #ffffff;
    margin: 40px
}
.jornal{
    margin: 40px;
    display: flex;
    align-items: inline;
}
.jornal1{
    margin-right: 20px;
    height: 300px;
    width: 300px;
}
.jornal3{
    margin: 40px;
    display: flex;
    align-items: inline;
}
.jornal2{
    margin-right: 20px;
    height: 300px;
    width: 300px;
}
footer{
    display: flex;
    justify-content:space-between;
    background-color: #1F6C43 ;
}
.localização{
    margin: 40px;
}
