* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E2A169;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F6C43;
    color: white;
    padding: 20px;
    height: 250px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.logo img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.titulo {
    text-align: center;
}

.title h1 {
    font-size: 2rem;
}

.titulo h3 {
    color: #f2a745; 
}

nav {
    display: flex;
    list-style: none;
    gap: 25px;
    font-weight: bold;
    font-size: 1.35rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a {   
    color: white; 
    text-decoration: none; 
}

nav a:hover {
    text-decoration: underline; 
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}
.historia{
    margin-left: 50px;
    margin-top: 30px;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.um{
    display:inline-flex;
    margin: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}
.dois{
    display:inline-flex;
    margin: 40px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
}
.branco{
    height: 300px; 
    width: 300px;
    margin: 10px;
    border-radius: 8px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color: #1F6C43;
    color: white;
    height: 250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    padding: 20px; 
}

.footer a {
    text-decoration: none; 
    color: white; 
}

.footer a:hover {
    text-decoration: underline; 
}

.footer div {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.footer img {
    width: 30px;
    height: 30px;
}
